/* reset */
/* main variables */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

ol, ul { list-style-type: none; margin: 0; padding: 0; }

button:focus, input:focus, select:focus, textarea:focus { outline: none; }

input, button, select, textarea { margin: 0; font-family: inherit; font-size: inherit; }

input { box-shadow: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }

a { text-decoration: none; color: inherit; }

a:hover { color: inherit; text-decoration: none; transition: 0.4s ease; -webkit-transition: 0.4s ease; -moz-transition: 0.4s ease; -ms-transition: 0.4s ease; -o-transition: 0.4s ease; }

button { border: none; background-color: transparent; cursor: pointer; }

img, iframe { max-width: 100%; }

@font-face { font-family: 'Museo Sans Cyrl'; src: url("../fonts/MuseoSans/MuseoSansCyrl-100.eot"); src: local("../fonts/MuseoSans/MuseoSansCyrl-100"), url("../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype"); font-weight: 100; font-style: normal; }

@font-face { font-family: 'Museo Sans Cyrl'; src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot"); src: local("../fonts/MuseoSans/MuseoSansCyrl-300"), url("../fonts/MuseoSans/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Museo Sans Cyrl'; src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot"); src: local("../fonts/MuseoSans/MuseoSansCyrl-500"), url("../fonts/MuseoSans/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Museo Sans Cyrl'; src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot"); src: local("../fonts/MuseoSans/MuseoSansCyrl-700"), url("../fonts/MuseoSans/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Museo Sans Cyrl'; src: url("../fonts/MuseoSans/MuseoSansCyrl-900.eot"); src: local("../fonts/MuseoSans/MuseoSansCyrl-900"), url("../fonts/MuseoSans/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype"); font-weight: 900; font-style: normal; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slider__arrows, .slider-dark__arrows { position: absolute; right: 0; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.slider__arrows .slick-counter, .slider-dark__arrows .slick-counter { font-size: 18px; line-height: 22px; font-weight: 100; bottom: 0; right: 0; }

.slider__arrows .slick-counter .total::before, .slider-dark__arrows .slick-counter .total::before { content: "/"; font-size: 36px; line-height: 43px; margin-left: 6px; }

.slider__arrows .slick-counter .current, .slider-dark__arrows .slick-counter .current { font-size: 36px; line-height: 43px; }

.slider__next, .slider__prev, .slider-dark__next, .slider-dark__prev { padding: 0; width: 20px; height: 10px; transition: width 0.4s ease; -webkit-transition: width 0.4s ease; -moz-transition: width 0.4s ease; -ms-transition: width 0.4s ease; -o-transition: width 0.4s ease; }

.slider__next, .slider-dark__next { transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); margin-left: 16px; }

.slider__next:focus, .slider-dark__next:focus, .slider__next:hover, .slider-dark__next:hover { width: 54px; transform: rotate(0); -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); }

.slider__prev, .slider-dark__prev { margin-right: 16px; }

.slider__prev:focus, .slider-dark__prev:focus, .slider__prev:hover, .slider-dark__prev:hover { width: 54px; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }

.slider__arrows { bottom: 66px; color: #fff; left: 0; }

.slider__arrows .slick-counter { color: #979797; }

.slider__arrows .slick-counter .current { color: #fff; }

.slider__next { background: url(../image/icons/arrow-left.svg) no-repeat center center; }

.slider__next:focus, .slider__next:hover { background: url(../image/icons/arrow-right.svg) no-repeat center center; }

.slider__prev { background: url(../image/icons/arrow-left.svg) no-repeat center center; }

.slider__prev:focus, .slider__prev:hover { background: url(../image/icons/arrow-right.svg) no-repeat center center; }

.slider-dark__arrows { top: -80px; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; color: #898989; width: 50%; }

.slider-dark__arrows .slick-counter { color: #898989; }

.slider-dark__arrows .slick-counter .current { color: #000; }

.slider-dark__next { background: url(../image/icons/arrow-left-dark.svg) no-repeat center center; }

.slider-dark__next:focus, .slider-dark__next:hover { background: url(../image/icons/arrow-right-dark.svg) no-repeat center center; }

.slider-dark__prev { background: url(../image/icons/arrow-left-dark.svg) no-repeat center center; }

.slider-dark__prev:focus, .slider-dark__prev:hover { background: url(../image/icons/arrow-right-dark.svg) no-repeat center center; }

@media only screen and (max-width: 767.8px) { .slider-dark__arrows { top: auto; bottom: -70px; width: 100%; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; } }

body { font-family: "Museo Sans Cyrl", sans-serif; background-color: #fff; height: 100%; font-weight: 300; line-height: 22px; color: #000; position: relative; font-size: 18px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.btn { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; white-space: pre-wrap; }

.btn:focus { box-shadow: none; }

.btn-border { color: #979797; border: 0.75px solid #979797; width: 130px; height: 30px; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 0; font-weight: 100; }

.btn-red { height: 75px; width: 350px; font-weight: 500; font-size: 24px; line-height: 29px; color: #fff; background-color: #fa4616; box-shadow: 0px 10px 35px rgba(250, 70, 22, 0.3); border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }

.btn-red:hover { background: #DA2E00; box-shadow: 0px 10px 35px rgba(216, 48, 3, 0.4); }

.social-networks { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.social-networks > li:first-child { margin-right: 17px; }

.social-networks > li > a { display: -webkit-flex; display: -ms-flexbox; display: flex; width: 25px; }

.social-networks > li > a img { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; transition: transform 0.3s ease, -webkit-transform 0.3s ease; -webkit-transition: transform 0.3s ease; -moz-transition: transform 0.3s ease; -ms-transition: transform 0.3s ease; -o-transition: transform 0.3s ease; }

.social-networks > li > a img:hover { transform: scale(1.4); -webkit-transform: scale(1.4); -moz-transform: scale(1.4); -ms-transform: scale(1.4); -o-transform: scale(1.4); }

.title-section { font-size: 60px; line-height: 72px; color: #000; font-weight: 900; }

.title-white { font-size: 60px; line-height: 72px; color: #fff; font-weight: 900; }

.title-text-border { color: #fff; font-weight: 900; font-size: 144px; line-height: 173px; text-shadow: -1px -1px 0 #d3d3d3, 1px -1px 0 #d3d3d3, -1px 1px 0 #d3d3d3, 1px 1px 0 #d3d3d3; text-align: center; margin-bottom: -38px; position: relative; z-index: -1; }

.input-bark, .input-light { height: 55px; width: 100%; border: none; padding: 0 21px; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; box-shadow: none; font-size: 18px; line-height: 22px; }

.input-bark { background-color: #4b4b4b; color: #fff; }

.input-bark::-webkit-input-placeholder { color: #fff; opacity: 0.5; font-weight: 100; }

.input-bark:-ms-input-placeholder { color: #fff; opacity: 0.5; font-weight: 100; }

.input-bark::placeholder { color: #fff; opacity: 0.5; font-weight: 100; }

.input-light { background-color: #F1F1F1; margin-bottom: 10px; }

.input-light::-webkit-input-placeholder { color: #797979; font-weight: 100; }

.input-light:-ms-input-placeholder { color: #797979; font-weight: 100; }

.input-light::placeholder { color: #797979; font-weight: 100; }

.cards-dark { background-color: #25282a; color: #fff; box-shadow: 0px 70px 100px rgba(0, 0, 0, 0.3); }

.box-shadow { box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08); }

.spinner { width: 255px; position: relative; text-align: center; }

.spinner input[type="number"] { -moz-appearance: textfield; }

.spinner input[type="number"]::-webkit-inner-spin-button, .spinner input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.spinner input { width: 100%; height: 55px; background: #f7f7f7; border: none; text-align: center; font-size: 18px; line-height: 22px; font-weight: 300; }

.spinner__nav { position: relative; }

.spinner__btn { height: 55px; width: 55px; cursor: pointer; font-size: 24px; line-height: 29px; color: #fff; background-color: #fa4616; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; transition: background 0.15s ease-in-out; -webkit-transition: background 0.15s ease-in-out; -moz-transition: background 0.15s ease-in-out; -ms-transition: background 0.15s ease-in-out; -o-transition: background 0.15s ease-in-out; }

.spinner__btn.spinner-up, .spinner__btn.spinner-down { bottom: 0; position: absolute; }

.spinner__btn.spinner-up { right: 0; }

.spinner__btn.spinner-down { left: 0; }

.spinner__btn:hover { background: #DA2E00; }

/*style for checkbox*/
.label-checkbox { display: block; position: relative; width: 15px; height: 15px; margin: 0 15px 0 0; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.label-checkbox > input { position: absolute; opacity: 0; cursor: pointer; }

.label-checkbox > input:checked ~ .checkmark:after { display: block; }

.label-checkbox .checkmark { position: absolute; left: 0; top: 0; height: 15px; width: 15px; background-color: transparent; border: 1px solid #B1B1B1; }

.label-checkbox .checkmark::after { content: ""; position: absolute; display: none; left: 0; top: -1px; width: 15px; height: 15px; background: url(../image/icons/checked.svg) no-repeat center center; }

.nav-pills .nav-link { color: #777777; height: 50px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding-left: 62px; border-left: 3px solid transparent; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }

.nav-pills .nav-link:hover, .nav-pills .nav-link.active { color: #000; font-weight: 600; }

.nav-pills .nav-link.active { background-color: transparent; border-color: #FF9300; }

@media only screen and (max-width: 1199.8px) { body { line-height: 19px; font-size: 16px !important; }
  .title-section, .title-white { font-size: 48px; line-height: 48px; }
  .btn-red { height: 55px; width: 270px; font-size: 18px; line-height: 22px; }
  .spinner { width: 220px; }
  .spinner input { height: 45px; }
  .spinner__btn { height: 45px; width: 45px; }
  .input-bark, .input-light { height: 45px; }
  .title-text-border { font-size: 120px; line-height: 145px; margin-bottom: -32px; }
  .nav-pills .nav-link { height: 45px; padding-left: 42px; } }

@media only screen and (max-width: 991.8px) { body { line-height: 17px; font-size: 14px !important; }
  .title-section, .title-white { font-size: 36px; line-height: 36px; }
  .spinner { width: 180px; }
  .title-text-border { font-size: 72px; line-height: 86px; margin-bottom: -17px; }
  .nav-pills .nav-link { height: 37px; padding-left: 26px; }
  .social-networks > li > a { width: 23px; } }

@media only screen and (max-width: 767.8px) { .spinner { width: 48%; }
  .nav-pills { -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .nav-pills .nav-link { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; height: 26px; padding: 0; border-bottom: 3px solid transparent; border-left: none; margin-bottom: 46px; } }

@media only screen and (max-width: 575.8px) { body { line-height: 14px; font-size: 12px !important; }
  .title-section, .title-white { font-size: 24px; line-height: 24px; }
  .btn-red { height: 55px; width: 100%; }
  .spinner { width: 100%; } }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header { background-color: #25282a; color: #fff; padding: 25px 0 18px; }

.header__top { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; color: #fff; font-size: 14px; line-height: 17px; font-weight: 100; }

.header__logo { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.header__logo > a { display: -webkit-flex; display: -ms-flexbox; display: flex; width: 95px; margin-right: 15px; }

.header__logo > span { display: block; width: 200px; }

.header .language > a { color: #979797; }

.header .language > a:first-child::after { content: '/'; display: inline-block; font-size: 18px; line-height: 22px; color: #fff; padding-left: 6px; }

.header .language > a.active { color: #fff; font-size: 18px; line-height: 22px; }

.header__address { color: #979797; margin: 0; }

.phone { position: relative; padding: 7px 12px 0 15px; color: #fff; }

.phone.open { background-color: #fff; color: #000; }

.phone.open svg { fill: #000; }

.phone svg { fill: #fff; }

.phone__list { display: none; width: 100%; padding: 7px 12px 15px 15px; position: absolute; left: 0; right: 0; top: 100%; background-color: #fff; z-index: 2; }

.phone__list.show { display: block; }

.phone__list > li { padding-left: 32px; margin-bottom: 6px; }

.phone__list > li:last-child { margin-bottom: 0; }

.phone__number { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-weight: 900; font-size: 24px; line-height: 29px; }

.phone__number > svg { margin-right: 10px; width: 22px; }

.phone__number > a:hover { color: #FF9300; }

.phone .arrow-down { position: relative; top: -10px; margin-left: 9px; width: 10px; cursor: pointer; }

.menu { margin-top: 26px; }

.menu__list { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; font-size: 16px; line-height: 19px; }

.menu__list > li a { display: inline-block; position: relative; color: #ebebeb; }

.menu__list > li a:hover { color: #FF9300; }

.menu__list > li a.active { color: #FA4616; }

.menu__list > li .counter { position: absolute; top: 0; right: 0; font-weight: 300; font-size: 10px; line-height: 12px; padding: 1px 4px 1.5px; background-color: #ff1b1b; border-radius: 6.5px; -webkit-border-radius: 6.5px; -moz-border-radius: 6.5px; -ms-border-radius: 6.5px; -o-border-radius: 6.5px; transform: translate(50%, -40%); -webkit-transform: translate(50%, -40%); -moz-transform: translate(50%, -40%); -ms-transform: translate(50%, -40%); -o-transform: translate(50%, -40%); }

@media screen and (max-width: 1199.8px) { .header { padding: 25px 0; }
  .header__top { padding-left: 61px; position: relative; font-size: 12px; line-height: 14px; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .header__top .btn-border { width: 90px; height: 22px; font-size: 12px; line-height: 14px; }
  .header__top .social-networks { margin-top: 25px; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; width: calc(100% - 260px); }
  .header__top .social-networks > li > a { width: 20px; }
  .header__logo > a { width: 90px; margin-right: 12px; }
  .header__logo > span { width: 180px; }
  .header .language > a:first-child::after { font-size: 14px; line-height: 17px; }
  .header .language > a.active { font-size: 14px; line-height: 17px; }
  .phone { margin: 25px 0 0 auto; }
  .phone__number { font-size: 18px; line-height: 22px; }
  .phone__number > img { margin-right: 8px; width: 14px; }
  .phone .arrow-down { top: -10px; margin-left: 8px; }
  .menu { background: #2E2E2F; box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.25); width: 210px; padding: 19px 22px 23px 30px; position: absolute; top: 76px; display: none; z-index: 100; margin: 0; }
  .menu__btn { position: absolute; top: 30px; height: 17px; width: 23px; background: transparent; cursor: pointer; z-index: 100; }
  .menu__btn > span { display: block; position: absolute; top: 50%; margin-top: -2px; left: 0; width: 100%; height: 3px; background-color: #fff; }
  .menu__btn > span::after, .menu__btn > span::before { content: ''; display: block; position: absolute; top: 50%; margin-top: -2px; left: 0; width: 100%; height: 3px; background-color: #fff; transition: -webkit-transform 0.4s; transition: transform 0.4s; transition: transform 0.4s, -webkit-transform 0.4s; -webkit-transition: transform 0.4s; -moz-transition: transform 0.4s; -ms-transition: transform 0.4s; -o-transition: transform 0.4s; }
  .menu__btn > span::after { transform: translateY(-7px); -webkit-transform: translateY(-7px); -moz-transform: translateY(-7px); -ms-transform: translateY(-7px); -o-transform: translateY(-7px); }
  .menu__btn > span::before { transform: translateY(7px); -webkit-transform: translateY(7px); -moz-transform: translateY(7px); -ms-transform: translateY(7px); -o-transform: translateY(7px); }
  .menu__btn.active > span { height: 0; }
  .menu__btn.active > span::after { transform: rotate(-42deg); -webkit-transform: rotate(-42deg); -moz-transform: rotate(-42deg); -ms-transform: rotate(-42deg); -o-transform: rotate(-42deg); }
  .menu__btn.active > span::before { transform: rotate(42deg); -webkit-transform: rotate(42deg); -moz-transform: rotate(42deg); -ms-transform: rotate(42deg); -o-transform: rotate(42deg); }
  .menu__list { display: block; font-size: 14px; line-height: 17px; }
  .menu__list > li { margin-bottom: 16px; }
  .menu__list > li:last-of-type { margin-bottom: 0; } }

@media screen and (max-width: 767.8px) { .header__top .btn-border { display: none; }
  .header__address { display: none; } }

@media screen and (max-width: 430px) { .header { padding: 12px 0; }
  .header__top { padding-left: 50px; font-size: 10px; line-height: 12px; }
  .header__top .social-networks { margin-top: 0; width: auto; position: absolute; bottom: 5px; left: 0; }
  .header__top .social-networks > li > a { width: 18px; }
  .header__logo > a { width: 60px; margin-right: 12px; }
  .header__logo > span { width: 150px; }
  .header .language { display: none; }
  .phone { margin: 12px 0 0 auto; }
  .menu__btn { top: 16px; } }

@media screen and (min-width: 1350px) { header .container { max-width: 1320px; } }

.first-screen { margin-top: -2px; height: calc(100vh - 121px); background-color: #25282a; position: relative; color: #fff; overflow: hidden; }

.first-screen__line { position: absolute; bottom: 0; left: 0; width: 16%; }

.first-screen__title { max-width: 800px; margin: 86px 0 17px; }

.first-screen__text { max-width: 458px; margin-bottom: 67px; }

.slider { position: relative; }

.slider__item { position: relative; width: 100%; height: calc(100vh - 121px); }

.slider__item > img { width: 52%; -o-object-fit: cover; object-fit: cover; position: absolute; bottom: -1px; right: 0; z-index: -1; }

.our-account { padding: 110px 0 88px; }

.our-account__image { position: absolute; top: 20px; left: -50%; width: 665px; }

.our-account__image .mob-screen { display: none; }

.our-account__image > span { display: block; margin: -120px 0 9px 60px; }

.our-account__image > small { font-size: 14px; line-height: 17px; font-weight: 100; color: #979797; margin-left: 60px; }

.our-account__text { color: #fff; font-weight: 900; font-size: 135px; line-height: 162px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; margin: 0; }

.our-account__text > span { display: inline-block; max-width: 120px; margin-left: 33px; font-size: 24px; line-height: 29px; text-shadow: none; color: #000; font-weight: 500; }

.our-account__text::before { content: ""; height: 100%; position: absolute; top: 0; left: -10%; border-left: 1px solid #d8d8d8; z-index: -1; }

.price { padding-bottom: 142px; }

.price .title-text-border { font-size: 144px; line-height: 173px; }

.price .cards-dark { padding: 37px 95px 97px; }

.price__text { font-weight: 100; margin-top: 10px; width: 50%; }

.price__form { margin-top: 80px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.price__form .spinner > span { position: absolute; top: -36px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }

.assortment { background-color: #25282a; padding: 87px 0 124px; position: relative; z-index: 0; }

.assortment .title-text-border { color: #25282a; text-shadow: -1px -1px 0 #707070, 1px -1px 0 #707070, -1px 1px 0 #707070, 1px 1px 0 #707070; }

.assortment__card { position: relative; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 260px; width: 100%; color: #fff; margin-bottom: 30px; }

.assortment__card > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.assortment__card:hover { color: #fff; box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.4); }

.assortment__card:hover::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); }

.assortment__card:hover .assortment__hover { opacity: 1; }

.assortment__desc { position: absolute; top: 38px; left: 39px; right: 39px; }

.assortment__desc > h4 { font-size: 24px; line-height: 29px; }

.assortment__desc > p { margin-top: 16px; width: 60%; }

.assortment__hover { opacity: 0; position: absolute; left: 39px; bottom: 36px; font-weight: 100; font-size: 14px; line-height: 17px; transition: opacity 0.4s; -webkit-transition: opacity 0.4s; -moz-transition: opacity 0.4s; -ms-transition: opacity 0.4s; -o-transition: opacity 0.4s; }

.assortment__hover img { margin-left: 10px; }

.promotions__title { font-weight: 900; font-size: 36px; line-height: 43px; margin-bottom: 43px; color: #fff; }

.promotions__timer > span { font-weight: 700; margin-bottom: 16px; display: block; }

.promotions__timer .timer { display: -webkit-flex; display: -ms-flexbox; display: flex; width: 285px; }

.promotions__timer .timer > li { font-size: 14px; line-height: 17px; text-align: center; }

.promotions__timer .timer > li > span { height: 55px; width: 70px; font-weight: 900; font-size: 36px; line-height: 43px; background-color: #454545; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 8px; }

.promotions__timer .timer > li > span::after { content: ':'; padding-left: 8px; }

.promotions__timer .timer > li > span.days { padding-left: 10px; }

.promotions__timer .timer > li > span.minutes { padding-right: 6px; }

.promotions__timer .timer > li > span.seconds { background-color: #ff1b1b; }

.promotions__timer .timer > li > span.seconds::after { display: none; }

.promotions__timer .timer > li > small { opacity: 0.5; }

.slider-promotions { position: relative; width: 100%; padding: 0; margin-bottom: 167px; }

.slider-promotions__item { padding: 0; }

.slider-promotions__item .wrrap { -webkit-flex: 0 0 59.9%; -ms-flex: 0 0 59.9%; flex: 0 0 59.9%; padding: 48px 75px; }

.slider-promotions__image { height: 400px; -webkit-flex: 0 0 40.1%; -ms-flex: 0 0 40.1%; flex: 0 0 40.1%; }

.slider-promotions__image > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.reviews { position: relative; }

.reviews__tab { position: relative; }

.reviews__tab .title-text-border { margin-bottom: 60px; }

.reviews__tab .tab-nav { width: 300px; position: absolute; top: 10px; left: 0; }

.reviews__header { position: relative; margin-bottom: 42px; }

.reviews__header .icon-social { position: absolute; left: 40px; top: 40px; width: 25px; display: block; }

.reviews__avatar { width: 65px; height: 65px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; min-width: 65px; margin-right: 30px; }

.reviews__avatar > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.reviews__title > h4 { font-weight: 900; font-size: 24px; line-height: 29px; margin-bottom: 4px; }

.reviews__title > p { font-weight: 250; font-size: 14px; line-height: 17px; opacity: 0.5; width: 80%; }

.reviews__desc { width: 100%; }

.reviews__desc .video { width: 100%; max-width: 255px; height: 150px; box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.3); }

.reviews__desc .video > iframe { width: 100%; height: 100%; }

.slider-reviews { width: calc(100% + 30px); margin-left: -15px; }

.slider-reviews.slick-slider .slick-track { padding-bottom: 183px; }

.slider-reviews__item { max-width: 33.3%; margin: 0 15px; }

.slider-reviews .slider-dark__arrows { top: -130px; }

@media only screen and (max-width: 1620px) { .our-account__image { position: static; top: 0; left: 0; width: 500px; margin-left: -20%; } }

@media only screen and (max-height: 700px) and (min-height: 641px) { .first-screen__title { margin: 60px 0 17px; }
  .first-screen__text { max-width: 458px; margin-bottom: 50px; }
  .slider .slider__arrows { bottom: 30px; } }

@media only screen and (max-height: 640px) and (min-width: 1200px) { .first-screen { height: 640px; }
  .slider__item { height: 640px; } }

@media only screen and (max-width: 1199.8px) { .first-screen { height: 370px; }
  .first-screen__line { display: none; }
  .first-screen__title { max-width: 580px; margin: 11px 0 17px; }
  .first-screen__text { max-width: 380px; margin-bottom: 15px; }
  .slider .slider__arrows { bottom: 50px; }
  .slider__item { height: 370px; }
  .slider__item > img { width: 52%; }
  .our-account { padding: 58px 0; }
  .our-account__image { position: static; top: 0; left: 0; width: 400px; margin-left: -10%; }
  .our-account__image > span { display: block; margin: -20px 0 4px 40px; font-size: 14px; line-height: 17px; }
  .our-account__image > small { font-size: 12px; line-height: 14px; margin-left: 40px; }
  .our-account__text { font-size: 100px; line-height: 120px; }
  .our-account__text > span { font-size: 18px; line-height: 22px; }
  .price { padding-bottom: 129px; }
  .price .cards-dark { padding: 37px 40px 44px; }
  .price__text { margin-top: 15px; }
  .price__form { margin-top: 53px; }
  .price__form .spinner > span { top: -30px; }
  .assortment { padding: 37px 0 59px; }
  .assortment__card { height: 200px; }
  .assortment__desc { position: absolute; top: 24px; left: 30px; right: 30px; }
  .assortment__desc > h4 { font-size: 18px; line-height: 22px; }
  .assortment__desc > p { margin-top: 10px; width: 80%; }
  .assortment__hover { left: 30px; bottom: 28px; }
  .promotions__title { font-size: 30px; line-height: 37px; margin-bottom: 32px; }
  .slider-promotions { margin-bottom: 110px; }
  .slider-promotions__item .wrrap { padding: 48px 45px; }
  .slider-promotions__image { height: 360px; }
  .slider-promotions .slider-dark__arrows { top: -70px; }
  .reviews__tab .tab-nav { width: 200px; }
  .reviews__header { margin-bottom: 32px; }
  .reviews__header .icon-social { left: 35px; top: 35px; width: 20px; }
  .reviews__avatar { width: 60px; height: 60px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; min-width: 60px; }
  .reviews__avatar > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }
  .reviews__title > h4 { font-size: 18px; line-height: 22px; }
  .reviews__desc { width: 100%; }
  .reviews__desc .video { height: 140px; }
  .slider-reviews.slick-slider .slick-track { padding-bottom: 140px; } }

@media only screen and (max-width: 991.8px) { .first-screen__title { max-width: 500px; }
  .first-screen__text { max-width: 340px; }
  .our-account__image { width: 310px; margin-left: -10%; }
  .our-account__text { font-size: 72px; line-height: 86px; }
  .our-account__text > span { max-width: 90px; margin-left: 11px; }
  .our-account__text::before { display: none; }
  .price .cards-dark { padding: 37px 30px 44px; }
  .price__text { width: 60%; }
  .price__form .btn-red { width: 210px; }
  .assortment .title-text-border { font-size: 96px; line-height: 115px; margin-bottom: -26px; }
  .assortment__card { height: 150px; }
  .assortment__desc { position: absolute; top: 13px; left: 13px; right: 13px; }
  .assortment__desc_big { top: 24px; left: 30px; right: 30px; }
  .assortment__hover { left: 13px; bottom: 15px; }
  .promotions__title { font-size: 24px; line-height: 29px; margin-bottom: 32px; }
  .reviews__tab .tab-nav { top: -16px; }
  .reviews__header .icon-social { left: 38px; top: 38px; width: 25px; }
  .reviews__title > h4 { font-size: 18px; line-height: 22px; }
  .reviews__title > p { width: 100%; }
  .reviews__desc .video { max-width: 320px; height: 190px; box-shadow: 3px 20px 20px rgba(0, 0, 0, 0.3); }
  .slider-reviews .slider-dark__arrows { top: -114px; } }

@media only screen and (max-width: 767.8px) { .our-account__image { width: 80%; margin: 0 auto; }
  .our-account__image > span { margin-top: -60px; }
  .our-account__image > small { margin-bottom: 30px; display: inline-block; }
  .our-account__text { text-align: center; }
  .price { padding-bottom: 120px; }
  .price .title-text-border { font-size: 72px; line-height: 86px; }
  .price .cards-dark { padding: 20px 30px 25px; }
  .price__text { width: 100%; }
  .price__form { margin-top: 20px; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .price__form .spinner > span { position: static; top: 0; left: 0; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); margin-bottom: 12px; display: inline-block; }
  .price__form .btn-red { width: 100%; margin-top: 40px; }
  .assortment { padding: 28px 0 0; }
  .assortment .title-text-border { font-size: 56px; line-height: 65px; margin-bottom: 20px; }
  .assortment__card { height: 150px; }
  .assortment__card_big { height: 180px; }
  .assortment__desc { position: absolute; top: 16px; left: 20px; right: 20px; }
  .assortment__desc > p { width: 100%; }
  .assortment__desc > h4 { max-width: 110px; }
  .assortment__hover { left: 16px; bottom: 20px; }
  .promotions__title { font-size: 18px; line-height: 22px; margin-bottom: 30px; }
  .promotions__timer > span { margin-bottom: 8px; }
  .promotions__timer .timer { width: 190px; }
  .promotions__timer .timer > li { font-size: 12px; line-height: 14px; }
  .promotions__timer .timer > li > span { height: 35px; width: 50px; font-size: 24px; line-height: 29px; margin-bottom: 4px; }
  .promotions__timer .timer > li > span::after { content: ':'; padding-left: 4px; }
  .slider-promotions { margin-bottom: 125px; }
  .slider-promotions__item .wrrap { padding: 23px 20px 25px; }
  .slider-promotions__image { height: 240px; }
  .slider-promotions .slider-dark__arrows { top: auto; }
  .reviews__tab .title-text-border { margin-bottom: 20px; }
  .reviews__tab .tab-nav { width: 100%; position: static; top: 0; }
  .reviews__desc .video { box-shadow: 5px 20px 15px rgba(0, 0, 0, 0.3); }
  .slider-reviews.slick-slider .slick-track { padding-bottom: 116px; }
  .slider-reviews .slider-dark__arrows { top: auto; bottom: 40px; z-index: 100; } }

@media only screen and (max-width: 575.8px) { .first-screen { height: auto; }
  .first-screen__title { width: 100%; margin: 35px 0 10px; }
  .first-screen__text { max-width: 100%; margin-bottom: 24px; }
  .slider { position: relative; }
  .slider__item { position: relative; width: 100%; height: 480px; }
  .slider__item > img { width: 100%; max-width: 320px; }
  .slider .slider__arrows { bottom: 42%; }
  .our-account__image { width: 100%; margin: 0 auto; }
  .our-account__image img { display: none; }
  .our-account__image .mob-screen { display: block; margin: 0 auto; }
  .our-account__image > span { margin: -66px 0 0; }
  .our-account__image > small { margin: 13px 0 48px; display: inline-block; }
  .our-account__text { text-align: left; }
  .price__form .spinner { margin-bottom: 11px; }
  .price__form .btn-red { margin-top: 29px; }
  .assortment .title-text-border { font-size: 36px; line-height: 43px; }
  .assortment__card { height: 110px; }
  .assortment__card_big { height: 155px; }
  .assortment__hover { display: none; }
  .promotions__timer .timer > li > span { width: 50px; }
  .slider-promotions__item { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .slider-promotions__item .wrrap { -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; }
  .slider-promotions__image { height: 166px; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; -webkit-order: -1; -ms-flex-order: -1; order: -1; } }

@media only screen and (max-width: 375px) { .our-account__text { text-align: left; }
  .our-account__text > span { max-width: 100%; display: block; margin: -6px 0 10px; } }

.calendar-section { padding: 125px 0; }

.calendar-section__title { font-weight: 900; font-size: 36px; line-height: 43px; color: #000; margin-bottom: 16px; width: 65%; }

.calendar-section__title + p { width: 55%; }

.calendar-section__block { margin-top: 35px; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.calendar-section__form { -webkit-flex: 0 0 51.2%; -ms-flex: 0 0 51.2%; flex: 0 0 51.2%; padding: 40px 75px 50px 48px; }

.calendar-section__form .btn-red { width: 100%; margin: 20px 0 30px; }

.calendar-section__form .group-checkobox { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.calendar-section__form .group-checkobox > p { margin: 0; font-weight: 300; font-size: 14px; line-height: 17px; color: #B1B1B1; }

.calendar-section__form .group-checkobox > p > a { color: #B1B1B1; position: relative; text-decoration: underline; }

.calendar-section__img { -webkit-flex: 0 0 48.8%; -ms-flex: 0 0 48.8%; flex: 0 0 48.8%; }

.calendar-section__img > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.calendar { margin-bottom: 40px; background: transparent; }

.calendar__header { margin-bottom: 41px; text-align: left; font-weight: 700; font-size: 18px; line-height: 22px; }

.calendar__header > p { position: relative; display: inline-block; color: #777777; margin-left: 20px; }

.calendar__header > p.active { color: #000; }

.calendar__header > p.active::after { content: ''; display: block; border-top: 3px solid #FF9300; position: absolute; bottom: -6px; left: 0; right: 0; }

.calendar > ul { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.calendar > ul > li { width: 44px; height: 44px; font-weight: 700; cursor: pointer; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-left: 15px; }

.calendar > ul > li:nth-child(7n) { margin-right: 0; }

.calendar > ul > li.empty { pointer-events: none; }

.calendar > ul > li:hover { color: #FA4616; }

.calendar > ul > li.active { background-color: #fa4616; color: #fff; }

@media only screen and (max-width: 1199.8px) { .calendar-section { padding: 111px 0 100px; }
  .calendar-section__title { font-size: 30px; line-height: 43px -6px; margin-bottom: 10px; }
  .calendar-section__block { margin-top: 25px; }
  .calendar-section__form { padding: 40px 35px 50px 20px; }
  .calendar { margin-bottom: 20px; }
  .calendar__header { margin-bottom: 20px; }
  .calendar__header > p { margin-left: 20px; } }

@media only screen and (max-width: 991.8px) { .calendar-section__title { font-size: 24px; line-height: 29px; }
  .calendar-section__title + p { width: 60%; }
  .calendar-section__block { margin-top: 60px; }
  .calendar-section__form { -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 450px; padding: 43px 0 61px; margin: 0 auto; }
  .calendar-section__form .group-checkobox { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .calendar-section__img { display: none; }
  .calendar { margin-bottom: 54px; }
  .calendar__header { margin-bottom: 41px; text-align: center; }
  .calendar__header > p { margin-left: 20px; } }

@media only screen and (max-width: 767.8px) { .calendar-section { padding: 75px 0; }
  .calendar-section__title { width: 100%; }
  .calendar-section__title + p { width: 100%; } }

@media only screen and (max-width: 575.8px) { .calendar-section__title { font-size: 18px; line-height: 22px; }
  .calendar-section__block { margin-top: 0; }
  .calendar-section__form { max-width: 100%; padding: 43px 20px 24px; }
  .calendar { margin-bottom: 30px; }
  .calendar__header { margin-bottom: 37px; text-align: center; }
  .calendar__header > p { margin-left: 20px; }
  .calendar > ul { width: 250px; margin: 0 auto; }
  .calendar > ul > li { width: 30px; height: 30px; margin-left: 5px; }
  .calendar > ul > li:nth-child(7n) { margin-right: 0; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer { background-color: #25282a; padding: 93px 0 42px; font-weight: 300; font-size: 14px; line-height: 26px; color: #fff; }

.footer__logo { width: 180px; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 9px; }

.footer__logo > img { width: 100%; }

.footer__logo + p { font-weight: 100; line-height: 17px; }

.footer__middle { margin-top: 57px; }

.footer__middle .mt-20 { margin-top: 20px; }

.footer__nav { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-top: 14px; }

.footer__menu li > a { color: #fff; }

.footer__menu .counter { display: inline-block; font-weight: 300; font-size: 10px; line-height: 12px; padding: 1px 4px 2px; background-color: #ff1b1b; border-radius: 6.5px; -webkit-border-radius: 6.5px; -moz-border-radius: 6.5px; -ms-border-radius: 6.5px; -o-border-radius: 6.5px; margin-left: 4px; }

.footer__link { display: block; color: #fff; text-align: center; text-decoration: underline; opacity: 0.8; }

.footer__line { width: 100%; opacity: 0.1; border: 1px solid #fff; }

.footer__right-col { text-align: right; }

.footer__right-col .who-created { color: #fff; font-weight: 100; margin-bottom: 8px; display: block; }

.call-us { color: #fff; margin-bottom: 94px; font-size: 18px; line-height: 22px; }

.call-us__meneger { font-weight: 100; text-align: center; }

.call-us__img { width: 159px; height: 159px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 20px; }

.call-us__img > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.call-us__title { font-weight: 700; font-size: 36px; line-height: 43px; margin-bottom: 8px; }

.call-us__info .phone { display: inline-block; margin-bottom: 20px; margin-left: -12px; }

.call-us__info .phone__number { font-size: 60px; line-height: 72px; }

.call-us__info .phone__list > li { padding: 0; }

.call-us__info .phone .arrow-down { position: relative; top: -20px; margin-left: 9px; }

.call-us__info .phone .arrow-down > svg { width: 34px; height: 34px; }

.call-us__form { margin-top: 35px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.call-us__form .btn-red { min-width: 255px; margin-left: 30px; }

@media screen and (max-width: 1199.8px) { .footer { padding: 70px 0 38px; font-size: 12px; line-height: 24px; }
  .footer__logo { width: 120px; }
  .footer__middle { margin-top: 26px; margin-bottom: 20px; }
  .footer__nav { margin-top: 0; }
  .call-us { margin-bottom: 80px; }
  .call-us__img { width: 120px; height: 120px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 30px; }
  .call-us__img > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }
  .call-us__title { font-size: 30px; line-height: 37px; margin-bottom: 12px; }
  .call-us__info .phone { margin: 0 0 43px -12px; }
  .call-us__info .phone__number { font-size: 50px; line-height: 62px; }
  .call-us__info .phone .arrow-down { top: -18px; }
  .call-us__info .phone .arrow-down > svg { width: 32px; height: 32px; }
  .call-us__form { margin-top: 18px; }
  .call-us__form .btn-red { min-width: 225px; } }

@media screen and (max-width: 991.8px) { .call-us__img { width: 150px; height: 150px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 23px; }
  .call-us__img > img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }
  .call-us__title { font-size: 24px; line-height: 29px; }
  .call-us__info .phone__number { font-size: 36px; line-height: 43px; }
  .call-us__info .phone .arrow-down { top: -10px; margin-left: 16px; }
  .call-us__info .phone .arrow-down > svg { width: 18px; height: 18px; }
  .call-us__form { margin-top: 18px; }
  .call-us__form .btn-red { min-width: 210px; }
  .footer { font-size: 14px; line-height: 26px; }
  .footer__logo { width: 91px; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
  .footer__logo + p { display: inline-block; width: 174px; font-size: 12px; line-height: 14px; margin-left: 20px; margin-bottom: 0; }
  .footer__middle { margin-top: 26px; margin-bottom: 20px; }
  .footer__middle .mt-20 { margin-top: 0; }
  .footer__nav { margin: 43px 0 40px; } }

@media screen and (max-width: 767.8px) { .footer { padding: 22px 0 32px; }
  .footer__middle { margin-top: 26px; margin-bottom: 0; }
  .footer__middle .social-networks { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin: 0 0 20px; }
  .footer__middle > .col-lg-3 { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .footer__nav { margin: 42px 0 20px; display: block; text-align: center; }
  .footer__menu li > a { position: relative; }
  .footer__menu .counter { position: absolute; top: 0; right: 0; transform: translateX(140%); -webkit-transform: translateX(140%); -moz-transform: translateX(140%); -ms-transform: translateX(140%); -o-transform: translateX(140%); }
  .footer__right-col { text-align: center; margin-top: 30px; }
  .call-us { margin-bottom: 42px; }
  .call-us__meneger { display: none; }
  .call-us__title { text-align: center; }
  .call-us__info { text-align: center; }
  .call-us__form .btn-red { min-width: 200px; } }

@media screen and (max-width: 575.8px) { .call-us { font-size: 14px; line-height: 18px; }
  .call-us__title { text-align: left; }
  .call-us__info { text-align: left; }
  .call-us__info .phone__number { font-size: 24px; line-height: 29px; }
  .call-us__info .phone .arrow-down { top: -6px; }
  .call-us__form { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .call-us__form .btn-red { min-width: 200px; margin: 20px 0 0; } }

/*# sourceMappingURL=style.css.map */
