@font-face {
	font-family: "Museo Sans Cyrl";
	src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
	src: url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("woff"),
		url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
