/* reset */
$base-bg: #fff;
$base-font-size: 18px;
$base-line-height: 22px;
$base-font-family: "Museo Sans Cyrl", sans-serif;

/* main variables */

//text, titles
$text-color: #000;
$text-color-white: #fff;
$color-top-menu: #ebebeb;
$title-color: #000;
$title-color-wite: #fff;

$font-size-h1: 60px;
$line-height-h1: 72px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;

// color
$bg-dark: #25282a;
$bg-color-input: #4b4b4b;
$bg-spinner: #f7f7f7;

$gray: #979797;
$red: #ff1b1b;
$black: #000;
$white: #fff;
$dark: #25282a;

$border-gray: #d8d8d8;

$btn-red: #fa4616;

$shadow-red: rgba(250, 70, 22, 0.3);
$shadow-dark: rgba(0, 0, 0, 0.3);
$shadow-light-text: #d3d3d3;
$shadow-dark-text: #707070;
