body {
    font-family: $base-font-family;
    background-color: $base-bg;
    height: 100%;
    font-weight: 300;
    line-height: $base-line-height;
    color: $text-color;
    position: relative;
    font-size: $base-font-size !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:focus {
        box-shadow: none;
    }
}

.btn-border {
    color: $gray;
    border: 0.75px solid $gray;
    width: 130px;
    height: 30px;
    @include radius(0);
    padding: 0;
    font-weight: 100;
}

.btn-red {
    height: 75px;
    width: 350px;
    font-weight: 500;
    font-size: $base-font-size + 6px;
    line-height: $base-line-height + 7px;
    color: $text-color-white;
    background-color: $btn-red;
    box-shadow: 0px 10px 35px $shadow-red;
    @include radius(0);

    &:hover {
        background: $btn-red-hover;
        box-shadow: 0px 10px 35px $shadow-red-hover;
    }
}

.social-networks {
    display: flex;

    >li {
        &:first-child {
            margin-right: 17px;
        }

        >a {
            display: flex;
            width: 25px;
        }
    }
}

.title-section {
    @include font($font-size-h1, $line-height-h1, $title-color, 900);
}

.title-white {
    @include font($font-size-h1, $line-height-h1, $title-color-wite, 900);
}

.title-text-border {
    color: $text-color-white;
    font-weight: 900;
    font-size: 144px;
    line-height: 173px;
    text-shadow: -1px -1px 0 $shadow-light-text, 1px -1px 0 $shadow-light-text, -1px 1px 0 $shadow-light-text,
        1px 1px 0 $shadow-light-text;
    text-align: center;
    margin-bottom: -38px;
    position: relative;
    z-index: -1;
}

%input-style {
    height: 55px;
    width: 100%;
    border: none;
    padding: 0 21px;
    @include radius(0);
    box-shadow: none;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.input-bark {
    @extend %input-style;
    background-color: $bg-color-input;
    color: $text-color-white;

    &::placeholder {
        color: $white;
        opacity: 0.5;
        font-weight: 100;
    }
}

.input-light {
    @extend %input-style;
    background-color: $bg-color-input-light;
    margin-bottom: 10px;

    &::placeholder {
        color: #797979;
        font-weight: 100;
    }
}

.cards-dark {
    background-color: $bg-dark;
    color: $text-color-white;
    box-shadow: 0px 70px 100px $shadow-dark;
    padding: 37px 95px 97px;
}

.box-shadow {
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);
}

// style input type="number"
.spinner {
    width: 255px;
    position: relative;
    text-align: center;

    input[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    input {
        width: 100%;
        height: 55px;
        background: $bg-spinner;
        border: none;
        text-align: center;
        font-size: $base-font-size;
        line-height: $base-line-height;
        font-weight: 300;
    }

    &__nav {
        position: relative;
    }

    &__btn {
        height: 55px;
        width: 55px;
        cursor: pointer;
        font-size: $base-font-size + 6px;
        line-height: $base-line-height + 7px;
        color: $text-color-white;
        background-color: $btn-red;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        &.spinner-up,
        &.spinner-down {
            bottom: 0;
            position: absolute;
        }

        &.spinner-up {
            right: 0;
        }

        &.spinner-down {
            left: 0;
        }
    }
}

/*style for checkbox*/
.label-checkbox {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    >input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked~.checkmark:after {
            display: block;
        }
    }

    .checkmark {
        position: absolute;
        left: 0;
        top: 0;
        height: 15px;
        width: 15px;
        background-color: transparent;
        border: 1px solid $border-checkbox;

        &::after {
            content: "";
            position: absolute;
            display: none;
            left: 0;
            top: -1px;
            width: 15px;
            height: 15px;
            background: url(../image/icons/checked.svg) no-repeat center center;
        }
    }
}

// style tabs navigation

.nav-pills {
    .nav-link {
        color: $tab-color;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 62px;
        border-left: 3px solid transparent;
        @include radius(0);

        &:hover,
        &.active {
            color: $text-color;
            font-weight: 600;
        }

        &.active {
            background-color: transparent;
            border-color: $yellow;
        }
    }
}

@media only screen and (max-width: 1999.8px) {
    body {
        line-height: $base-line-height - 5px;
        font-size: $base-font-size - 4px !important;
    }

    .title-section,
    .title-white {
        font-size: $font-size-h2;
        line-height: $font-size-h2;
    }

    .btn-red {
        height: 55px;
        width: 270px;
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
}