.first-screen {
    margin-top: -2px;
    height: 640;
    background-color: $bg-dark;
    position: relative;
    color: $text-color-white;
    &__line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 16%;
    }
    &__title {
        max-width: 800px;
        margin: 86px 0 17px;
    }
    &__text {
        max-width: 458px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 67px;
    }
}

.slider {
    height: 640px;
    position: relative;
    &__item{
        position: relative;
        width: 100%;
        height: 640px;
        >img{
            width: 52%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
    &__box-arrow{
        position: absolute;
        bottom: 66px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        color: $text-color-white;
        .slick-counter {
            color: $gray;
            font-size: 18px;
            line-height: 22px;
            font-weight: 100;
            bottom: 0;
            right: 0;
            .total {
                &::before {
                    content: '/';
                    font-size: 36px;
                    line-height: 43px;
                    margin-left: 6px;
                }
            }
            .current {
                font-size: 36px;
                line-height: 43px;
                color: $text-color-white;
            }
        }
    }
    &__next,
    &__prev{
        padding: 0;
        width: 20px;
        height: 10px;
        @include transition(width 0.4s ease);
    }
    &__next {
        background: url(../image/icons/arrow-left.svg) no-repeat center center;
        @include transform(rotate(180deg));
        margin-left: 16px;
        &:focus,
        &:hover {
            width: 52px;
            background: url(../image/icons/arrow-right.svg) no-repeat center center;
            @include transform(rotate(0));
        }
    }
    &__prev{
        background: url(../image/icons/arrow-left.svg) no-repeat center center;
        margin-right: 16px;
        &:focus,
        &:hover {
            width: 52px;
            background: url(../image/icons/arrow-right.svg) no-repeat center center;
            @include transform(rotate(180deg));
        }
    }
}

.our-account {
    padding: 110px 0 88px;
    &__image {
        position: absolute;
        top: 20px;
        left: -50%;
        width: 665px;
        >span {
            display: block;
            margin: -120px 0 9px 60px;
        }
        >small {
            font-size: 14px;
            line-height: 17px;
            font-weight: 100;
            color: $gray;
            margin-left: 60px;
        }
    }
    &__text {
        color: $text-color-white;
        font-weight: 900;
        font-size: 135px;
        line-height: 162px;
        text-shadow: -1px -1px 0 $black,  
        1px -1px 0 $black,
        -1px 1px 0 $black,
         1px 1px 0 $black;
         >span {
             display: inline-block;
             max-width: 74px;
             margin-left: 33px;
            font-size: 24px;
            line-height: 29px;
            text-shadow: none;
            color:$text-color;
            font-weight: 500;
         }
        &::before {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: -10%;
            border-left: 1px solid $border-gray;
            z-index: -1;
        }
    }
}