.base-topsect {
    margin-top: -2px;
    background-color: #25282a;
    height: 464px;
    position: relative;
    background-image: url(../image/knowledge-base/book.png);
    background-repeat: no-repeat;
    background-position: bottom right 26.5%;

    .title-white {
        margin-bottom: 45px;
    }

    .search-box {
        position: relative;
        max-width: 455px;

        .search-box__input {
            border: none;
            outline: none;
            background: #4B4B4B;
            width: 100%;
            height: 55px;
            padding: 0 65px 0 20px;
            color: rgba(255, 255, 255, .5)
        }

        .search-box__btn {
            position: absolute;
            right: 0;
            top: 0;
            height: 55px;
            width: 55px;
            background-color: $red-active;
            @include transition(.5s);
            border: none;
            cursor: pointer;
            background-image: url(../image/knowledge-base/search-icon.svg);
            background-repeat: no-repeat;
            background-position: center center;

            &:hover {
                background-color: $btn-red-hover;
            }
        }
    }
}

.base-content {
    padding: 42px 0 175px 0;
}

.base-tabs {

    .nav-item {
        margin-right: 35px;
    }

    .nav-pills .nav-link {
        padding: 0 10px 10px 10px;
        border-left: none;
        height: auto;
        text-align: center;
        border-bottom: 3px solid transparent;
    }

    .nav-pills .nav-link.active {
        border-bottom: 3px solid $yellow;
    }

    .tab-nav {
        margin-bottom: 40px;
    }

    .tab-content {
        h3 {
            font-size: 36px;
            line-height: 43px;
            color: $black;
            font-weight: 800;
            margin-bottom: 33px;
        }
    }

    .base-tab-category {
        margin-bottom: 40px;

        .base-tabs__titlecat {
            position: relative;
            margin-bottom: 25px;

            span {
                // background-color: $white;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
                display: inline-block;
                position: relative;
                z-index: 1;
                padding-right: 20px;
            }

            &:after {
                content: "";
                height: 1px;
                width: 85%;
                position: absolute;
                left: initial;
                right: 0;
                background-color: #DBDBDB;
                top: 50%;
            }
        }

        .base-tabs__box.nostyle {
            box-shadow: none;

            .base-tabs__info {
                padding: 15px 0;
            }
        }

        .base-tabs__box {
            background: #FFFFFF;
            box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);
            margin-bottom: 30px;

            .base-tabs__image {
                height: 200px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                    @include transition(1s);
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }
            }
        }

        .base-tabs__info {
            padding: 16px 20px 15px 20px;
            height: 115px;
            overflow: hidden;

            .title {
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
            }

            .descr {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #747474;
            }
        }

        &:last-child {
            .docline {
                &:after {
                    left: initial;
                    right: 0;
                    width: calc(100% - 195px);
                }

                span {
                    background-color: transparent;
                }
            }
        }
    }

}

.base-table {
    background-color: $white;
    position: relative;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);

    .base-table__row {
        border-bottom: 1px solid #EFEFEF;

        .col-xl-7 {
            -ms-flex: 0 0 54%;
            flex: 0 0 54%;
            max-width: 54%;
        }

        .col-xl-3 {
            -ms-flex: 0 0 27%;
            flex: 0 0 27%;
            max-width: 27%;
        }

        .col-md-2 {
            -ms-flex: 0 0 19%;
            flex: 0 0 19%;
            max-width: 19%;

        }
    }

    .titles-block {
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 20px 0 40px;
        border-right: 1px solid #EFEFEF;

        >div {
            width: 100%;
        }

        .title {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
        }

        .descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #747474;
        }
    }

    .download-block {
        height: 100px;
        border-right: 1px solid #EFEFEF;
        display: flex;
        align-items: center;
        padding: 0 20px 0 35px;

        >div {
            width: 100%;
        }

        img {
            vertical-align: middle;
        }

        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            width: calc(100% - 25px);
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;

            a {
                color: $red-active;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

    }

    .date-block {
        height: 100px;
        display: flex;
        align-items: center;

        >div {
            width: 100%;
        }

        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #747474;
            text-align: center;
            width: 100%;

            span {
                display: block;
            }
        }
    }
}

.base-filter {
    margin-top: -106px;
    margin-bottom: 30px;

    .base-filter__list {
        background: #FFFFFF;
        box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);

        >li {
            border-bottom: 1px solid #DBDBDB;

            >p {
                font-size: 18px;
                line-height: 22px;
                color: #777777;
                padding: 15px 35px 15px 27px;
                position: relative;
                cursor: pointer;

                &:hover {
                    color: $black;
                    font-weight: 600;
                }

                &:after {
                    content: "";
                    width: 8px;
                    height: 13px;
                    display: inline-block;
                    background-image: url(../image/knowledge-base/filter-arrow.svg);
                    background-size: 100% 100%;
                    position: absolute;
                    right: 26px;
                    top: 50%;
                    margin-top: -6.5px;
                    @include transition(.5s);
                    opacity: .5;
                }


            }

            &:first-child {
                .base-filter__sublist {
                    display: block;
                }
            }

            p.rotatearrow {
                color: $black;
                font-weight: 600;

                &:after {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    opacity: 1;
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .base-filter__sublist {
            padding-left: 45px;
            margin-top: 20px;
            padding-bottom: 25px;
            display: none;

            >li {
                margin-bottom: 8px;

                >p {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 22px;
                    color: #747474;
                    position: relative;
                    cursor: pointer;

                    &:hover {
                        color: $black;
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        height: 6px;
                        width: 10px;
                        position: absolute;
                        left: -16px;
                        top: 50%;
                        margin-top: -3px;
                        background-image: url(../image/knowledge-base/filter-arrow2.svg);
                        background-repeat: no-repeat;
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                    }
                }

                >p.sub-rotatearrow {
                    color: $black;

                    &:before {
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        background-image: url(../image/knowledge-base/filter-arrow3.svg);
                    }
                }
            }
        }

        .base-filter__sublist-links {
            display: none;

            >li {
                >a {
                    text-decoration: underline;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #747474;

                    &:hover {
                        text-decoration: none;
                        color: #171717;
                    }
                }
            }
        }

    }
}

.delivery_and_payment_main {
    box-shadow: none;
}

.delivery_and_payment_main.new {
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);
}

.base-subscribe {
    background-color: $white;
    padding: 18px 27px 13px 27px;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);

    .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #151515;
        margin-bottom: 20px;
    }

    .fieldinp::-webkit-input-placeholder {
        font-weight: 250;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
    }

    .fieldinp::-moz-placeholder {
        font-weight: 250;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
    }

    .fieldinp:-ms-input-placeholder {
        font-weight: 250;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
    }

    .fieldinp:-moz-placeholder {
        font-weight: 250;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
    }

    #base-subscribe {
        input.fieldinp {
            width: 100%;
            border: none;
            background: #F1F1F1;
            padding-left: 14px;
            padding-right: 20px;
            height: 40px;
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $black;
        }

        input.btn-red {
            width: 100%;
            height: 45px;
            font-size: 18px;
            line-height: 22px;
            margin: 10px 0 15px 0;
        }

        p {
            text-align: center;
            color: #000000;
            font-weight: 250;
            font-size: 14px;
            line-height: 17px;
            opacity: 0.5;
        }
    }
}

.base-filter__list>li {
    border-left: 3px solid transparent;
}

.base-filter__list>li.border-line {
    border-left: 3px solid #FF9300;
}

.phone-filter-btn {
    display: none;
}

.base-table .col-xl-7.col-md-6.col-sm-6 .date-block {
    display: none;
}

@media only screen and (max-width: 1500.8px) {
    .base-topsect {
        background-position: bottom right 13%;
    }
}

@media only screen and (max-width: 1300.8px) {
    .base-topsect {
        background-position: bottom right 10%;
    }
}

@media only screen and (max-width: 1199.8px) {
    .base-table .col-xl-7.col-md-6.col-sm-6 .date-block {
        display: block;
    }

    .base-topsect {
        background-position: bottom right 0;
        height: 271px;
        padding-top: 8px;
        background-size: 53%;

        .bread-crumbs {
            display: none;
        }

        .title-white {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 22px;
        }
    }

    .base-topsect .search-box .search-box__input {
        height: 45px;
    }

    .base-topsect .search-box .search-box__btn {
        height: 45px;
        width: 45px;
    }

    .base-topsect .search-box {
        max-width: 270px;
    }

    .base-filter .base-filter__list>li>p {
        font-size: 14px;
        line-height: 17px;
        padding: 10px 20px 14px 30px;
    }

    .base-filter .base-filter__list .base-filter__sublist>li>p {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }

    .base-filter {
        margin-top: -75px;
    }

    .base-filter .base-filter__list>li:first-child {
        padding-top: 10px;
    }

    .base-filter .base-filter__list .base-filter__sublist {
        margin-top: 10px;
        padding-bottom: 15px;
    }

    .base-filter .base-filter__list .base-filter__sublist-links>li>a {
        font-size: 12px;
        line-height: 14px;
    }

    .base-filter .base-filter__list .base-filter__sublist-links {
        margin-top: 8px;
    }

    .base-tabs .tab-nav {
        margin-bottom: 20px;
    }

    .base-tabs .tab-content h3 {
        margin-bottom: 23px;
    }

    .base-tabs .base-tab-category .base-tabs__titlecat span {
        font-size: 18px;
        line-height: 22px;
    }

    .base-tabs .base-tab-category .base-tabs__info {
        height: auto;
    }

    .base-tabs .base-tab-category .base-tabs__box.nostyle .base-tabs__info {
        padding: 10px 0 15px 0;
    }

    .base-tabs .base-tab-category .base-tabs__box.nostyle {
        background-color: transparent;
    }

    .base-tabs .base-tab-category {
        margin-bottom: 10px;
    }

    .base-tabs .base-tab-category .base-tabs__box .base-tabs__image {
        height: 160px;
    }

    .base-tabs .base-tab-category .base-tabs__info {
        padding: 13px 15px 16px 17px;
    }

    .base-tabs .base-tab-category .base-tabs__info .title {
        max-height: 34px;
        overflow: hidden;
    }

    .base-subscribe {
        display: none;
    }

    .base-table .col-md-2 {
        display: none;
    }

    .base-table .titles-block {
        height: auto;
        padding: 16px 10px 0 30px;
        border-right: none;
    }

    .base-table .date-block {
        padding: 10px 10px 25px 30px;
        height: auto;
    }

    .base-table .date-block p {
        text-align: left;
    }

    .base-table .titles-block .title {
        margin-bottom: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }

    .base-table .titles-block .descr,
    .base-table .date-block p {
        font-size: 12px;
        line-height: 14px;
        position: relative;
    }

    .base-table .date-block p span {
        display: inline-block;
        position: absolute;
        right: 20px;
    }

    .base-table .download-block {
        height: auto;
        border-right: none;
        padding: 0 15px 0 22px;
    }

    .base-table .base-table__row .col-xl-3.col-md-6 {
        align-items: center;
        display: flex;
        border-left: 1px solid #EFEFEF;
    }

    .base-table .download-block>div {
        width: 185px;
    }

    .base-content {
        padding: 30px 0 84px 0;
    }


    .base-tabs .base-tab-category .base-tabs__info .descr {
        font-size: 12px;
        line-height: 14px;
    }

    .base-tabs .base-tab-category .base-tabs__info .title {
        font-size: 14px;
        line-height: 17px;
    }

    .base-tabs .tab-content h3 {
        font-size: 24px;
        line-height: 29px;
    }

    .base-table .base-table__row .col-xl-7.col-md-6 {
        -ms-flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .base-table .base-table__row .col-xl-3.col-md-6 {
        -ms-flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media only screen and (max-width: 767.8px) {
    .base-filter {
        display: none;
    }

    .base-topsect {
        background-size: 330px auto;
    }

    .base-filter {
        margin-top: -35px;
    }

    .phone-filter-btn {
        display: block;

        button {
            background-color: $yellow;
            height: 55px;
            max-width: 290px;
            width: 100%;
            display: block;
            margin: 0 auto 35px;
            color: #fff;
            font-size: 18px;
            line-height: 22px;
            box-shadow: 0px 10px 35px rgba(250, 70, 22, 0.3);
            position: relative;
        }
    }

    .base-tabs .nav-pills .nav-link {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 575.8px) {
    .base-topsect {
        height: auto;
        padding-bottom: 253px;
        background-size: 320px auto;
        background-position: center bottom;
    }

    .base-topsect {
        padding-top: 35px;
    }

    .base-topsect .title-white {
        font-size: 24px;
        line-height: 29px;
    }

    .base-topsect .search-box {
        max-width: 100%;
    }

    .base-content {
        padding: 12px 0 50px 0;
    }

    .base-tabs .nav-item {
        margin-right: 0;
    }

    .base-tabs .nav-pills .nav-link {
        padding: 0 5px 5px 5px;
        margin-bottom: 0;
    }

    .base-tabs .tab-content h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .base-tabs .base-tab-category .base-tabs__titlecat:after {
        width: 78%;
    }

    .base-tabs .base-tab-category:last-child .docline:after {
        width: calc(100% - 140px);
    }

    .base-table .titles-block {
        padding: 16px 48px 0 20px;
    }

    .base-table .date-block {
        padding: 10px 48px 8px 20px;
    }

    .base-table .download-block {
        padding: 5px 48px 16px 20px;
    }

    .base-table .date-block p span {
        position: relative;
        right: initial;
    }

    .base-table .date-block p {
        position: initial;
    }

    .base-table .date-block p text {
        width: 48px;
        position: absolute;
        right: 0;
        height: calc(100% + 48px);
        top: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #EFEFEF;
    }

    .base-table .date-block p text i {
        font-style: normal;
        transform: rotate(-90deg);
        white-space: nowrap;
    }

    .base-tabs .base-tab-category .base-tabs__box.nostyle .video iframe {
        height: 167px;
        width: 100%;
    }

    .base-table .base-table__row .col-xl-7.col-md-6,
    .base-table .base-table__row .col-xl-3.col-md-6 {
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }





    .base-tabs .base-tab-category .base-tabs__titlecat span {
        font-size: 14px;
        line-height: 17px;
    }

    .base-tabs .base-tab-category .base-tabs__info .title {
        font-size: 12px;
        line-height: 14px;
    }

    .base-tabs .base-tab-category .base-tabs__info .descr {
        font-size: 10px;
        line-height: 12px;
    }

}