.post-topsect {
    height: 280px;
    background-image: url(../image/post/post-pic1.png);
    background-size: cover;
    background-position: center center;

    .post-topsect__category {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: $white;
        margin-bottom: 7px;
    }

    .post-topsect__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        color: $white;
        margin-bottom: 22px;
    }

    .post-topsect__info {
        div {
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.5);

            img {
                margin-right: 12px;
            }
        }
    }
}

.post-content {
    padding: 40px 0 70px 0;
}

.post-box {
    padding: 39px 65px 5px 65px;
    margin-bottom: 84px;

    .post-box__title {
        font-size: 24px;
        line-height: 29px;
        color: #020202;
        margin-bottom: 20px;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #020202;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        margin: 5px 0 20px 0;
    }

    .error-view {
        height: 60px;
        background-color: #EDEDED;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% + 120px);
        margin-left: -60px;

        p {
            color: #919191;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 0;

            b {
                font-weight: 600;
            }
        }
    }
}

.base-tabs .base-tab-category.recomendation-posts {
    margin-bottom: 69px;
}

.recomendation-posts {

    .title {
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        position: relative;
        margin-bottom: 25px;

        &:after {
            content: "";
            display: block;
            height: 1px;
            background-color: #DBDBDB;
            top: 50%;
            position: absolute;
            right: 0;
            width: calc(100% - 323px);
        }
    }
}

.post-sidebar {
    .no-time-to-read {
        background: #FFFFFF;
        border: 1px solid #FA4616;
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
        font-size: 18px;
        line-height: 22px;
        color: #FF4700;
        height: 60px;
        display: block;
        text-align: center;
        padding: 13px 0;
        margin-bottom: 32px;

        img {
            margin-right: 16px;
        }
    }
}

.promotion {
    margin-bottom: 30px;

    .pic-box {
        height: 200px;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-position: 50% 50%;
        }
    }

    .text-box {
        padding: 16px 20px 24px 20px;
        background-color: $white;
        box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);

        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: $black;
        }
    }
}

.post-sidebar .no-time-to-read {
    padding: 16px 0;

    img {
        margin-top: -2px;
    }
}

@media only screen and (max-width: 1199.8px) {
    .post-topsect .post-topsect__category {
        margin-bottom: 4px;
    }

    .post-topsect {
        height: 204px;
    }

    .post-topsect .post-topsect__info div {
        margin-right: 32px;
    }

    .post-content {
        padding: 38px 0 40px 0;
    }

    .post-box {
        padding: 23px 30px 5px 30px;
    }

    .post-box p {
        margin-bottom: 15px;
    }

    .post-box img {
        margin: 10px 0 20px 0;
    }

    .post-box .error-view {
        width: calc(100% + 50px);
        margin-left: -25px;
        height: auto;
        padding: 13px 25px 13px 25px;
        text-align: center;
    }

    .recomendation-posts .title:after {
        width: calc(100% - 240px);
    }

    .post-sidebar .no-time-to-read {
        height: 45px;
        font-size: 14px;
        line-height: 17px;
        padding: 12px 0;
    }

    .post-sidebar .no-time-to-read img {
        width: 21px;
        margin-right: 9px;
    }

    .promotion .pic-box {
        height: 160px;
    }

    .promotion .text-box {
        padding: 13px 20px 20px 20px;
    }

    .post-sidebar .base-subscribe {
        display: block;
        padding: 21px 30px 15px 30px;
    }

    .post-sidebar .base-subscribe .title {
        margin-bottom: 12px;
    }

    .base-subscribe #base-subscribe input.fieldinp {
        height: 35px;
        font-size: 12px;
        line-height: 14px;
    }

    .base-subscribe #base-subscribe input.btn-red {
        font-size: 14px;
        line-height: 17px;
    }

    .base-subscribe #base-subscribe p {
        font-size: 12px;
        line-height: 14px;
    }

    .post-box .post-box__title,
    .recomendation-posts .title {
        font-size: 18px;
        line-height: 22px;
    }

    .post-topsect .post-topsect__category,
    .post-topsect .post-topsect__info div,
    .post-box p,
    .post-box .error-view p,
    .promotion .text-box p,
    .base-subscribe .title {
        font-size: 14px;
        line-height: 17px;
    }

    .post-topsect .post-topsect__title {
        font-size: 24px;
        line-height: 29px;
    }
}

@media only screen and (max-width: 767.8px) {
    .post-content>.container>.row>.col-xl-3.col-lg-4.col-md-4 {
        order: 1;
    }

    .post-content>.container>.row>.col-xl-9.col-lg-8.col-md-8 {
        order: 2;
    }

    .post-sidebar .promotion,
    .post-sidebar .base-subscribe {
        display: none;
    }

    .post-sidebar .no-time-to-read {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 575.8px) {
    .post-topsect .post-topsect__category {
        margin-bottom: 0;
    }

    .post-topsect .post-topsect__info div {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
            margin-top: -2px;
        }
    }

    .post-topsect .post-topsect__info div img {
        margin-right: 5px;
    }

    .post-topsect .post-topsect__info div.view img {
        height: 10px;
    }

    .post-topsect .post-topsect__info div.messages img {
        height: 12px;
    }

    .post-topsect .post-topsect__info div.time img {
        height: 13px;
    }

    .post-content {
        padding: 11px 0 40px 0;
    }

    .post-sidebar .no-time-to-read {
        position: relative;
    }

    .post-sidebar .no-time-to-read img {
        position: absolute;
        left: 13px;
        top: 50%;
        margin-top: -10.5px;
    }

    .post-box {
        padding: 20px;
    }

    .post-box .error-view {
        display: none;
    }

    .post-box {
        margin-bottom: 40px;
    }

    .recomendation-posts .title:after {
        width: calc(100% - 190px);
    }





    .post-box .post-box__title,
    .recomendation-posts .title {
        font-size: 14px;
        line-height: 17px;
    }

    .post-topsect .post-topsect__title {
        font-size: 18px;
        line-height: 22px;
    }

    .post-topsect .post-topsect__category,
    .post-topsect .post-topsect__info div,
    .post-box p {
        font-size: 12px;
        line-height: 14px;
    }
}